on:
  push:
    branches: [ staging, trying, master ]
  pull_request:

name: Test Suite

env:
  RUSTFLAGS: '--deny warnings'

jobs:
  ci-linux-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable]

        include:
          - rust: 1.46.0
            TARGET: x86_64-unknown-linux-gnu

          # Test nightly but don't fail
          - rust: nightly
            experimental: true
            TARGET: x86_64-unknown-linux-gnu

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.TARGET }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
